<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glucksteinapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LocationTheme">
        <activity android:name=".AboutUs"></activity>
        <activity android:name=".Resource3" />
        <activity android:name=".Resource2" />
        <activity android:name=".Resource1" />
        <activity android:name=".TorontoLocation" />
        <activity android:name=".OttowaLocation" />
        <activity android:name=".NiagaraLocation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ExpertiseSelected" />
        <activity android:name=".Expertise" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>